sudo: false

language: python
python:
  - "3.6"
install:
  - pip install coverage
  - pip install xlrd
  - pip install git+https://github.com/pydata/pandas-datareader.git
  - pip install beautifulsoup4
  - pip install numpy
  - pip install sphinx
script: 
  #- python -m unittest
  # Use Sphinx to make the html docs
  - make html
  # Tell GitHub not to use jekyll to compile the docs
  - touch _build/html/.nojekyll
after_success: 
  - coverage report
# Tell Travis CI to copy the documentation to the gh-pages branch of
# your GitHub repository.
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master
  local_dir: _build/html/
