sudo: false

language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
install:
  - pip install flake8
  #- pip install coverage
  - pip install sphinxcontrib-napoleon
  - pip install xlrd
  - pip install git+https://github.com/pydata/pandas-datareader.git
  - pip install beautifulsoup4
  - pip install numpy
  - pip install sphinx
  - pip install sphinx_rtd_theme
  - pip install coveralls --quiet
  - python setup.py install
script: 
  - python -m unittest
  - flake8 --version
  - flake8 . --ignore=E501
after_success: 
  #- coverage report
  - |
    cd docs
    make html && make html
    cd ..
  - coveralls
